<br>
<br>
<br>
<br>
<br>

<div class="container-about">
  <div>
    <h1 class="title3">Odkryj Moc Prawdziwego Relaksu: Kąpiel w Bali, Która Odmieni Twoje Życie</h1>
    <p class="description4">
      Kąpiel w bali to więcej niż relaks – to prawdziwe odprężenie, które przynosi korzyści nie tylko dla ciała, ale i dla duszy. Wyobraź sobie ciepłą wodę otaczającą Cię w zaciszu własnego ogrodu – idealne miejsce na relaks po ciężkim dniu. To nie tylko luksus, który możesz mieć na co dzień, ale także doskonały sposób na urozmaicenie każdej imprezy czy stworzenie niezapomnianego, romantycznego wieczoru we dwoje.
    </p>
  </div>
  <div class="about-line">
    <div class="line-about-content">
      <img class="line-about-img1" src="assets/images/ocean-waves-icon.png"/>
      <p class="line-about-text">Zanurz się w falach odprężenia 
        oraz dziel wyjątkowe chwile z najbliższymi.</p>
    </div>
    <div class="line-about-content">
      <img class="line-about-img2" src="assets/images/leisure-icon.png"/>
      <p class="line-about-text">Poznaj nowy poziom odprężenia i ciesz się niezapomnianymi chwilami relaksu.</p>
    </div>
    <div class="line-about-content">
      <img class="line-about-img3" src="assets/images/happy-icon.png"/>
      <p class="line-about-text">Doświadcz, jak niezwykle 
        komfortowa może być chwila tylko dla Ciebie.</p>
    </div>
    <div class="line-about-content">
      <img class="line-about-img4" src="assets/images/sand-clock-full-icon 1.png"/>
      <p class="line-about-text">Zatrzymaj czas w Naszej balii i ciesz się każdą chwilą.</p>
    </div>
  </div>
  <div class="about-text-image-lines">
    <div class="text-image">
      <div class="text">
        <h3 class="text-title">Odkryj prawdziwy relaks w zaciszu własnego ogrodu.</h3>
        <p class="text-paragraph"><b>Marzysz o relaksującym wieczorze w jacuzzi w swoim ogrodzie?</b> Nasza nowoczesna balia z hydromasażem i gazowym ogrzewaniem spełni te marzenia! Wyobraź sobie komfortowy wypoczynek pod gwiazdami, gdzie ciepła woda i delikatny masaż wodny usuwają zmęczenie dnia codziennego.</p>
      </div>
      <div class="about-image">
        <img src="assets/images/Relaks-w-ogordzie1.png"/>
      </div>
    </div>
    <div class="text-image2">      
      <div class="about-image">
        <img src="assets/images/Relaks-w-ogordzie1.png"/>
      </div>
      <div class="text">
        <h3 class="text-title">Odkryj prawdziwy relaks w zaciszu własnego ogrodu.</h3>
        <p class="text-paragraph"><b>Marzysz o relaksującym wieczorze w jacuzzi w swoim ogrodzie?</b> Nasza nowoczesna balia z hydromasażem i gazowym ogrzewaniem spełni te marzenia! Wyobraź sobie komfortowy wypoczynek pod gwiazdami, gdzie ciepła woda i delikatny masaż wodny usuwają zmęczenie dnia codziennego.</p>
      </div>
    </div>
    <div class="text-image">
      <div class="about-image">
        <img src="assets/images/Relaks-w-ogordzie2.png"/>
      </div>      
      <div class="text">
        <h3 class="text-title">Zaskocz swoich gości wyjątkowym luksusem na każdej imprezie.</h3>
        <p class="text-paragraph"><b>Chcesz zrobić wrażenie na swoich gościach podczas imprezy?</b> Wynajmij naszą mobilną balia jacuzzi i przekształć wieczór w niezapomniane wydarzenie! Twoi goście będą zachwyceni luksusem i relaksem w ciepłej wodzie pod gołym niebem, co nada każdej imprezie wyjątkowy charakter i sprawi, że będzie ona niezapomniana.</p>
      </div>
    </div>
    <div class="text-image2">
      <div class="about-image">
        <img src="assets/images/Relaks-w-ogordzie2.png"/>
      </div>      
      <div class="text">
        <h3 class="text-title">Zaskocz swoich gości wyjątkowym luksusem na każdej imprezie.</h3>
        <p class="text-paragraph"><b>Chcesz zrobić wrażenie na swoich gościach podczas imprezy?</b> Wynajmij naszą mobilną balia jacuzzi i przekształć wieczór w niezapomniane wydarzenie! Twoi goście będą zachwyceni luksusem i relaksem w ciepłej wodzie pod gołym niebem, co nada każdej imprezie wyjątkowy charakter i sprawi, że będzie ona niezapomniana.</p>
      </div>
    </div>
    <div class="text-image">
      <div class="text">
        <h3 class="text-title">Ciesz się pełnym relaksem bez ograniczeń, gdziekolwiek chcesz.</h3>
        <p class="text-paragraph"><b>Nie musisz opuszczać swojego domu, by poczuć prawdziwy relaks.</b> Nasza mobilna balia jacuzzi przyjedzie prosto do Ciebie! Ciesz się luksusem i komfortem w zaciszu ogrodu, na malowniczej plaży o zachodzie słońca, czy w każdym innym wymarzonym miejscu. Doświadcz, jak ciepła woda i masaż wodny mogą odmienić Twoje chwile relaksu.</p>
      </div>
      <div class="about-image">
        <img src="assets/images/Relaks-w-ogordzie3.png"/>
      </div>
    </div>
    <div class="text-image2">
      <div class="about-image">
        <img src="assets/images/Relaks-w-ogordzie3.png"/>
      </div>
      <div class="text">
        <h3 class="text-title">Ciesz się pełnym relaksem bez ograniczeń, gdziekolwiek chcesz.</h3>
        <p class="text-paragraph"><b>Nie musisz opuszczać swojego domu, by poczuć prawdziwy relaks.</b> Nasza mobilna balia jacuzzi przyjedzie prosto do Ciebie! Ciesz się luksusem i komfortem w zaciszu ogrodu, na malowniczej plaży o zachodzie słońca, czy w każdym innym wymarzonym miejscu. Doświadcz, jak ciepła woda i masaż wodny mogą odmienić Twoje chwile relaksu.</p>
      </div>
      
    </div>
    <div class="text-image">
      <div class="about-image">
        <img src="assets/images/Relaks-w-ogordzie4.png"/>
      </div>      
      <div class="text">
        <h3 class="text-title">Oferujemy luksus, który idealnie dopasuje się do każdej okazji.</h3>
        <p class="text-paragraph"><b>Chcesz wzbogacić swoje życie o odrobinę luksusu?</b> Nasza mobilna balia jacuzzi to idealne rozwiązanie! Skorzystaj z niej na weekend, wakacje lub specjalną okazję i ciesz się wygodą oraz relaksem wszędzie tam, gdzie jej potrzebujesz. Dodaj elegancji i odprężenia do swoich chwil w dowolnym miejscu.</p>
      </div>
    </div>
    <div class="text-image2">
      <div class="about-image">
        <img src="assets/images/Relaks-w-ogordzie4.png"/>
      </div>      
      <div class="text">
        <h3 class="text-title">Oferujemy luksus, który idealnie dopasuje się do każdej okazji.</h3>
        <p class="text-paragraph"><b>Chcesz wzbogacić swoje życie o odrobinę luksusu?</b> Nasza mobilna balia jacuzzi to idealne rozwiązanie! Skorzystaj z niej na weekend, wakacje lub specjalną okazję i ciesz się wygodą oraz relaksem wszędzie tam, gdzie jej potrzebujesz. Dodaj elegancji i odprężenia do swoich chwil w dowolnym miejscu.</p>
      </div>
    </div>
  </div>
</div>
<div class="center">
  <h2 class="center-title">Rozmarzyłeś się o chwilach pełnych luksusu?</h2>
  <p class="center-paragraph">Teraz możesz przestać marzyć i zacząć doświadczać prawdziwego relaksu. Nasza mobilna balia jacuzzi jest na wyciągnięcie ręki - idealna na każdą okazję.</p>
  <button class="end-btn" routerLink="/shop">Sklep</button>
</div>
