<br>
<br>
<br>
<br>
<br>

<div class="container-about">
  <div>
    <hr>
    <p class="title">Relaks i Zdrowie: Korzyści z Kąpieli w Balii</p>
    <p class="description2">Kąpiel w bali zapewni Ci odpoczynek i relaks, a także możliwość nabrania dodatkowej odporności. Regularna kąpiel pomoże Ci również obniżyć stres, na który jesteśmy nieustannie narażeni, dodatkowo kąpiel wpływa na poprawę krążenia.</p>
    <br>
    <br>
  </div>
  <div class="grid-about">
    <div class="img-about">
      <img src="assets/images/relaks-w-ogrodzie.jpg" alt="Relaks w ogrodzie">
    </div>
    <div>
      <hr>
      <p class="litle-title">Relaks w Twoim Ogrodzie</p>
      <p class="description2">Marzysz o relaksującym wieczorze w jacuzzi w swoim ogrodzie? Teraz jest to możliwe dzięki nowoczesnym baliom z hydromasażem i gazowym ogrzewaniem.</p>
    </div>
    <div>
      <hr>
      <p class="litle-title">Idealna na Imprezę</p>
      <p class="description2">Chcesz zaskoczyć swoich gości na imprezie? Wynajmij naszą mobilną balię jacuzzi i spraw, by wieczór stał się wyjątkowy! Twoi goście będą zachwyceni luksusem i relaksem, jakie oferuje nasza nowoczesna balie.</p>
    </div>
    <div class="img-about">
      <img src="assets/images/impreza.jpg" alt="Impreza">
    </div>
    <div class="img-about">
      <img src="assets/images/romantyczny-wieczor.jpg" alt="Romantyczny wieczór">
    </div>
    <div>
      <hr>
      <p class="litle-title">Romantyczny Wieczór</p>
      <p class="description2">Planujesz romantyczny wieczór z ukochaną osobą? Wynajmij mobilną balię jacuzzi i stwórz niezapomnianą atmosferę pod gwiazdami.</p>
    </div>
    <div>
      <hr>
      <p class="litle-title">Relaks Bez Granic</p>
      <p class="description2">Nie musisz jechać do spa, żeby cieszyć się relaksem. Nasza mobilna balia jacuzzi przyjedzie do Ciebie! Wynajmij już dziś i poczuj różnicę, ciesząc się luksusem i komfortem w zaciszu własnego ogrodu.</p>
    </div>
    <div class="img-about">
      <img src="assets/images/relaks-bez-granic.jpg" alt="Relaks bez granic">
    </div>
    <div class="img-about">
      <img src="assets/images/luksus.jpg" alt="Luksus">
    </div>
    <div>
      <hr>
      <p class="litle-title">Luksus na Każdą Okazję</p>
      <p class="description2">Chcesz dodać odrobinę luksusu do swojego życia? Nasza mobilna balia jacuzzi to idealne rozwiązanie! Wynajmij na weekend, wakacje lub specjalną okazję.</p>
    </div>
  </div>
  <div class="line-about">
    <div class="grid3-about">
      <div>
        <img class="icon-about" src="assets/images/ocean-waves-icon.png" alt="Ocean waves icon">
        <p class="description2">Ogarnij falę relaksu, kiedy tylko zapragniesz i ciesz się wyjątkowymi chwilami razem z bliskimi</p>
      </div>
      <div>
        <img class="icon-about" src="assets/images/leisure-icon.png" alt="Leisure icon">
        <p class="description2">Odkryj nowy wymiar relaksu i przygotuj się na niezapomniane doznania!</p>
      </div>
      <div>
        <img class="icon-about" src="assets/images/happy-icon.png" alt="Happy icon">
        <p class="description2">Przekonaj się, jak przyjemna może być wyjątkowa chwila tylko dla Ciebie.</p>
      </div>
    </div>
  </div>
</div>
<p class="title">Zarezerwuj wyjątkowe doświadczenie już dziś! </p>
<div class="center">
  <p class="button-81" routerLink="/shop">Sklep</p>
</div>
