.logo {
 width: 170px;
 height: 130px;
}
body {
    margin: 0;
    background-color: #e8ece8;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #8FBAB0 7.79%, #B2C9C4 100%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
html {
    margin: 0;
}
nav {
    width: 100%;
    background: linear-gradient(180deg, #8FBAB0 7.79%, #B2C9C4 100%);
}
.navbar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 0;
    background: linear-gradient(180deg, #8FBAB0 7.79%, #B2C9C4 100%);
    height: 150px;
}
.nav1-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.nav2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#first-in-nav{
    margin: 0;
    padding: 0;
}
.navbar li {
    margin: 0 1em;
}
.navbar li a {
    font-family: Saira Condensed;
    font-size: 30px;
    font-weight: 300;
    line-height: 72.4px;  
    color: white;
    cursor: pointer;
}
.hamburger, .close-menu {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    display: none; /* Domyślnie ukryte */
    position: absolute; /* Pozycjonowanie absolutne */
    top: 2em;
    right: 1em;
}
.container {
    margin: 0 10%;
}

/* Media Queries */
@media (max-width: 1550px){
    .nav1-box, .nav2{
        margin-top: 30px;
    }
    #Login, #Logout{
        padding-left: 10px;
    }
}
@media (max-width: 1150px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 100%;
        left: 0;
    }
    .navbar li {
        margin: 0.5em auto;
        margin-top: 0;
    }
    .navbar li a {
        font-size: 30px;
    }
    .logo {
        height: 120px;
        width: 180px;
    }
    .hamburger {
        display: block;
    }
    .close-menu {
        display: none;
    }
    .navbar.open {
        display: flex;
        padding: 5px;
        padding-bottom: 5em;
    }
    .navbar.open ~ .hamburger {
        display: none;
    }
    .navbar.open ~ .close-menu {
        display: block;
    }
    .nav-container {
        padding: 1em 0.5em;
    }
    .nav2, .nav1-box{
        margin-top: 0;
    }
}

@media (max-width: 576px) {

    .navbar li a {
        font-size: 20px;
    }
    .logo {
        height: 50px;
        width: 80px;
    }
    .navbar.open{
        padding-bottom: 1.5em;
    }
}
@media (max-width: 350px) {

    .navbar li a {
        font-size: 15px;
    }
  
}

