<header>
  <nav>
    <div class="nav-container">
      <ul class="navbar">
        <div class="nav1-box">
            <li><a routerLink="/" (click)="scrollToTop()" id="first-in-nav"><img class="logo" src="assets/images/123.png" alt="Background"></a></li>
            <li><a routerLink="/about" (click)="scrollToTop()">O NAS</a></li>
            <li><a routerLink="/shop" (click)="scrollToTop()">SKLEP</a></li>
            <li><a routerLink="/faq" (click)="scrollToTop()">FAQ</a></li>
        </div>
        <div class="nav2">
          <li *ngIf="isAdmin"><a routerLink="/add-tub" (click)="scrollToTop()">DODAJ BALIE</a></li>
          <li *ngIf="isAdmin"><a routerLink="/reservations-to-accept" (click)="scrollToTop()">REZERWACJE</a></li>
          <li *ngIf="isAdmin"><a routerLink="/faq/manage" (click)="scrollToTop()">ZARZĄDZAJ FAQ</a></li>
          <li *ngIf="!isLoggedIn"><a id="Login" routerLink="/login" (click)="scrollToTop()">ZALOGUJ SIĘ</a></li>
          <li *ngIf="!isLoggedIn"><a id="Register" routerLink="/register" (click)="scrollToTop()">ZAREJESTRUJ SIĘ</a></li>
          <li *ngIf="isLoggedIn"><a id="Logout" (click)="logout()">WYLOGUJ SIĘ</a></li>
          <li *ngIf="isLoggedIn"><a routerLink="/profile" (click)="scrollToTop()">PROFIL</a></li>
        </div>
      </ul>
      <button class="hamburger" (click)="toggleMenu()">☰</button>
      <button class="close-menu" (click)="toggleMenu()">✖</button>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
